@font-face { font-family: "High Tower Text"; src: url('fonts/HTOWERT.ttf'); } 
@font-face { font-family: "Open Sans"; src: url('fonts/OpenSans-Regular.ttf'); }

body {
    background: url(images/background.jpg) repeat;
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 817px) {
    .container {
        justify-content: center;
    }
}

@media (max-width: 567px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.site-header {
    margin: 25px 40px 0;
    height: 70px;
    display: flex;
}

.site-header__title {
    font-family: "High Tower Text", serif;
    font-size: 35px;
    line-height: 0.7;
    letter-spacing: -2px;
    color: #214f9b;
    align-self: flex-end;
}

.title__item {
    margin: 0;
}

.site-navbar {
    display: flex;
    margin: 20px 30px 0 0;
    border-bottom: 1px solid rgba(51, 51, 51, .25);
}

@media (max-width: 817px) {
    .site-navbar {
            padding-right: 30px;
            margin-right: 0;
    }
}

@media (max-width: 567px) {
    .site-navbar {
        border-bottom: none;
    }
}

.site-navbar__list {
    align-self: flex-end;
    margin: 0;
    padding-left: 10px;
}

.site-navbar__item {
    display: inline;
    letter-spacing: -0.75px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 20px;
    text-shadow: 1px 1px 2px rgba(51,51,51,0.25);
}

@media (max-width: 567px) {
    .site-navbar__item {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(51, 51, 51, .25);
        margin-bottom: 10px;
    }
}

.site-navbar__link {
    text-decoration: none;
    color: #333;
}

.site-navbar__link:hover {
    color: #214f9b;
    text-shadow: 2px 2px 5px rgba(51,51,51,0.35);
}

.site-navbar__link:active {
    color: #214f9b;
    position: relative;
    top: 1px;
}

.main {
    width: 85%;
    margin: 25px auto;
    text-align: center;
}

@media (max-width: 567px) {
    .main {
        margin: 0 auto;
        width: 100%;
    }
}

.main-header__title, .main-header__desc {
    text-align: left;
    margin: 0;
    font-weight: 300;
    letter-spacing: -2px;
}

.main__image {
    width: 80%;
}

.main-header__title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.85);
    margin-top: -40px;
    
}

.main-header__desc {
    font-size: 25px;
    color: rgba(51, 51, 51, 0.75);
    margin-bottom: 20px;
}

@media (max-width: 567px) {
    .main-header__title, .main-header__desc {
        margin-top: 0;
        text-align: center;
    }
}

.main-desc {
    text-align: left;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
}

@media (max-width: 567px) {
    .main-desc {
        text-align: center;
    }
}

.main-footer {
    text-align: left;
    color: #214f9b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -1px;
}

@media (max-width: 567px) {
    .main-footer {
        text-align: center;
    }
}

.main-footer__link {
    text-decoration: none;
    color: #214f9b;
}

.main-footer__link:hover {
    color: #3661a9;
}

.main-footer__link:active {
    position: relative;
    top: 1px;
}

.site-footer {
    width: 85%;
    margin: 25px auto;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 567px) {
    .site-footer {
        width: 100%;
    }
}

.site-footer__copy {
    margin-right: 15px;
}

.site-footer__list {
    padding: 0;
    margin: 0;    
}

.site-footer__item {
    margin-top: -2px;
    list-style-type: none;
    }

.site-footer__link {
    font-size: 12px;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.55);
}


.site-footer__link:hover {
    color: rgba(51, 51, 51, 1);
}