@font-face { font-family: "High Tower Text"; src: url('fonts/HTOWERT.ttf'); } 
@font-face { font-family: "Open Sans"; src: url('fonts/OpenSans-Regular.ttf'); }

body {
    background: url(images/background.jpg) repeat;
}

.site-container {
    font-family: 'Open Sans', sans-serif;
    max-width: 56.25em;
    width: 90%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 56.25em) {
    .header-container {
        align-items: center;
        flex-direction: column;
    }
}

.site-header {
    margin: 1.6em 2.4em 0;
    height: 4.35em;
    display: flex;
}

.site-header__title {
    font-family: "High Tower Text", serif;
    font-size: 2em;
    line-height: 0.7;
    letter-spacing: -2px;
    color: #214f9b;
    align-self: flex-end;
}

.title__item {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}

.site-navbar {
    display: flex;
    margin: 1.25em 1.875em 0 0;
    border-bottom: 1px solid rgba(51, 51, 51, .25);
}

@media (max-width: 56.25em) {
    .site-navbar {
            padding-right: 1.875em;
            margin-right: 0;
    }
}

@media (max-width: 37.5em) {
    .site-navbar {
        border-bottom: none;
    }
}

.site-navbar__list {
    align-self: flex-end;
    margin: 0;
    padding-left: 0.625em;
}

.site-navbar__item {
    display: inline;
    letter-spacing: -0.75px;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 1.25em;
    text-shadow: 1px 1px 2px rgba(51,51,51,0.25);
}

@media (max-width: 37.5em) {
    .site-navbar__item {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(51, 51, 51, .25);
        margin-bottom: 0.625em;
    }
}

.site-navbar__link {
    text-decoration: none;
    color: #333;
}

.site-navbar__link:hover {
    color: #214f9b;
    text-shadow: 2px 2px 5px rgba(51,51,51,0.35);
}

.site-navbar__link:active {
    color: #214f9b;
    position: relative;
    top: 1px;
}

.main {
    width: 85%;
    margin: 1.56em auto;
    text-align: center;
}

@media (max-width: 37.5em) {
    .main {
        margin: 0 auto;
        width: 100%;
    }
}

.main-header__title, .main-header__desc {
    text-align: left;
    margin: 0;
    font-weight: 300;
    letter-spacing: -2px;
}

.main__image {
    width: 80%;
}

.main-header__title {
    font-size: 1.6em;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.85);
    margin-top: -2.5em;
    
}

@media (max-width: 56.25em) {
    .main-header__title {
        margin-top: -1.90em;
    }
}

.main-header__desc {
    font-size: 1.5em;
    color: rgba(51, 51, 51, 0.75);
    margin-bottom: 1.25em
}

@media (max-width: 37.5em) {
    .main-header__title, .main-header__desc {
        margin-top: 0;
        text-align: center;
    }
}

.main-desc {
    text-align: left;
    font-size: 1em;
    color: rgba(51, 51, 51, 0.9);
}

@media (max-width: 37.5em) {
    .main-desc {
        text-align: center;
    }
}

.main-footer {
    text-align: left;
    color: #214f9b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -1px;
}

@media (max-width: 37.5em) {
    .main-footer {
        text-align: center;
    }
}

.main-footer__link {
    text-decoration: none;
    color: #214f9b;
}

.main-footer__link:hover {
    color: #3661a9;
}

.main-footer__link:active {
    position: relative;
    top: 1px;
}

.site-footer {
    width: 85%;
    margin: 1.56em auto;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 37.5em) {
    .site-footer {
        width: 100%;
    }
}

.site-footer__copy {
    margin-right: 1em;
}

.site-footer__list {
    padding: 0;
    margin: 0;    
}

.site-footer__item {
    margin-top: 0.125em;
    list-style-type: none;
    }

.site-footer__link {
    font-size: 0.85em;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.55);
}


.site-footer__link:hover {
    color: rgba(51, 51, 51, 1);
}